#urlbar[enso-newtab="true"] {
  #identity-icon {
    list-style-image: url("chrome://browser/skin/enso-icons/new-tab-image.svg") !important;
    filter: opacity(0.5) !important;
  }

  &[open] #identity-icon-box::after {
    content: "New Tab" !important;
    filter: opacity(0.5) !important;
    padding-left: 6px !important;
  }
}