#tabbrowser-tabs {
  font-size: var(--cfs-font-size-tabbar-tabs) !important;
}

#enso-current-workspace-indicator-name {
  font-size: var(--cfs-font-size-workspace-title) !important;
}

.findbar-container {
  font-size: var(--cfs-font-size-searchbar) !important;
}

.enso-workspace-icon {
  font-size: var(--cfs-icon-size-footer) !important;
}
