#statuspanel {
  margin: 10px !important;
}

#statuspanel-label {
  border-radius: 10000px !important;
  padding: 2px 10px !important;
  border: 1px solid var(--enso-colors-border) !important;
  background: var(--enso-colors-tertiary) !important;
}
