/* Reduce width */
@media (-moz-bool-pref: "enso.view.sidebar-expanded") {
  #navigator-toolbox {
    --enso-navigation-toolbar-min-width: 100px !important;
  }
}

/* Reduced height */
@media (-moz-bool-pref: "enso.view.compact.hide-tabbar") {
  :root[enso-compact-mode="true"] #navigator-toolbox {
    top: calc((100vh - var(--theme-smaller_compact_mode-sidebar_height)*1vh)/2) !important;
    height: calc(var(--theme-smaller_compact_mode-sidebar_height) * 1vh) !important;

    @media not (-moz-bool-pref: "enso.view.compact.hide-toolbar") {
      & {
        height: calc(var(--theme-smaller_compact_mode-sidebar_height) * 1vh - var(--enso-toolbar-height-with-bookmarks)) !important;
      }
    }
  }
}
