:root:has(#customization-container:not([hidden])) {
    /* Show flexible space in customiation mode in top buttons, since this mod allows them there */
    #enso-sidebar-top-buttons-customization-target toolbarspring {
        display: flex !important;
    }
}

:root:not([enso-compact-mode="true"], :has(#customization-container:not([hidden]))) {
    --tab-min-width: calc(36px) !important;
    --enso-toolbox-padding: calc(var(--enso-element-separation) / 2 + 1px) !important;
    --enso-toolbox-max-width: calc(var(--tab-min-width) + var(--tab-block-margin) + var(--enso-toolbox-padding) * 2) !important;
    --enso-toolbox-min-width: 1px !important;
    --enso-sidebar-width: var(--enso-toolbox-max-width) !important;
    
    @media (-moz-bool-pref: "theme.sidebar_expand_on_hover.hide_workspace_indicator") {
        #enso-current-workspace-indicator-container {
            display: none !important;
        }
    }
    
    #enso-sidebar-splitter {
        display: none !important;
    }
    
    /* Change tab shape to square when collapsed */
    tab:not([enso-essential]) .tab-background {
        min-width: var(--tab-min-width) !important;
    }
    
    /* Center tab icon */
    .tab-icon-stack > .tab-icon-image {
        margin-inline-start: calc(calc(var(--tab-min-width) + var(--tab-block-margin) * 2 - var(--tab-inline-padding) * 2 - 16px) / 2) !important;
    }

    /* Same design as tabs for New Tab button and other toolbarbuttons */
    #TabsToolbar-customization-target toolbarbutton {
        margin: var(--tab-block-margin) !important;
        padding: 0 calc(var(--tab-inline-padding) - var(--tab-block-margin)) !important;
        justify-content: flex-start !important;
        
        & > .toolbarbutton-icon {
            margin-inline-start: calc(calc(var(--tab-min-width) + var(--tab-block-margin) * 2 - var(--tab-inline-padding) * 2 - 16px) / 2) !important;
            margin-inline-end: var(--toolbarbutton-inner-padding) !important;
        }
        
        & > .toolbarbutton-text {
            padding: 0 !important;
            align-items: center !important;
        }
    }
    
    /* Stop New Tab button from increasing the width */
    .enso-workspace-tabs-section {
        width: calc(var(--tab-min-width) + var(--tab-block-margin)) !important;
    }
    
    tab[pinned]:not([enso-essential]) > stack {
        --tab-inline-padding: 8px !important;
        & > .tab-content {
            padding: 0 var(--tab-inline-padding) !important;
            min-width: 0 !important;
            justify-content: unset !important;
        }
    }

    @media (not (-moz-bool-pref: "enso.view.use-single-toolbar")) {

            #navigator-toolbox {
                margin-top: var(--enso-toolbar-height) !important;
            }

            #browser:has(#PersonalToolbar[collapsed=false]) #navigator-toolbox {
                margin-top: calc(var(--enso-toolbar-height) + 2.2em) !important;
            }
    }
    
    /* Move topbar buttons in the now empty space */
    @media (not (-moz-bool-pref: "enso.view.use-single-toolbar")) and (not (-moz-platform: macos)) {
        #browser:has(#navigator-toolbox:not([enso-right-side="true"])) {
            #enso-appcontent-wrapper {
                overflow: visible !important;

                #enso-appcontent-navbar-container:has(#nav-bar>.titlebar-buttonbox-container:last-child) {
                    margin-left: calc(0px - var(--enso-toolbox-max-width)) !important;
                    padding-left: var(--enso-element-separation);

                    #nav-bar {
                        margin-inline-start: var(--enso-element-separation);
                    }
                }
            }
        }
    }

    #navigator-toolbox {
        z-index: 4 !important;
        width: var(--enso-toolbox-max-width) !important;
        max-width: var(--enso-toolbox-max-width) !important;
        min-width: var(--enso-toolbox-max-width) !important;
        position: relative !important;

        /* 
        I have no idea how to replicate the browser background, I don't know where the colors come from, the computed values in the inspector don't match anything on screen.
        This is as close as I was able to get so far.
        */
        &::before {
            position: absolute;
            content: "";
            width: calc(var(--enso-sidebar-width) - var(--enso-toolbox-padding));
            height: 100%;
            opacity: 0.0;
            transition: 60ms opacity ease-in calc(var(--theme-sidebar_expand_on_hover-transition_speed) - 60ms), width ease-in-out var(--theme-sidebar_expand_on_hover-transition_speed);
            z-index: -1;
            background-image: var(--enso-main-browser-background) !important;
            background-color: var(--lwt-accent-color) !important;
            background-attachment: fixed !important;
            background-size: 2000px !important;
            backdrop-filter: blur(5px) !important;
            border-top-right-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
        }

        > #titlebar, > #enso-sidebar-top-buttons, > #nav-bar {
            width: calc(var(--enso-sidebar-width) - var(--enso-toolbox-padding)) !important;
            max-width: var(--enso-sidebar-width) !important;
            min-width: var(--enso-toolbar-min-width) !important;
            padding-right: var(--enso-toolbox-padding) !important;
        }

        > #titlebar, > #enso-sidebar-top-buttons {
            overflow: hidden !important;
            transition: width ease-in-out var(--theme-sidebar_expand_on_hover-transition_speed), max-width ease-in-out var(--theme-sidebar_expand_on_hover-transition_speed);
        }

        > #nav-bar {
            margin: 0 !important;
            padding-left: var(--enso-toolbox-padding) !important;
            transition: var(--ext-theme-background-transition), width ease-in-out var(--theme-sidebar_expand_on_hover-transition_speed), max-width ease-in-out var(--theme-sidebar_expand_on_hover-transition_speed) !important;
        }
    }
    
    /* Essentials */
    #enso-essentials-container {
        display: flex !important;
        justify-content: center !important;
        gap: 0 !important;
        overflow-x: scroll !important;
        
        > .tabbrowser-tab {
            flex: 1 !important;
            /* Todo change this from hardcoded value */
            min-width: 40px !important;
            margin-inline: calc(var(--enso-toolbox-padding) - 2px) !important;
            transition: flex-grow var(--theme-sidebar_expand_on_hover-transition_speed) linear, 
                min-width var(--theme-sidebar_expand_on_hover-transition_speed) linear, 
                margin-inline var(--theme-sidebar_expand_on_hover-transition_speed) linear !important;
        }
    }
    
    /* Hide empty top buttons */
    #enso-sidebar-top-buttons:not(:has(:not(#enso-sidebar-top-buttons-separator, #enso-sidebar-top-buttons-customization-target))) {
        display: none !important;
    }

    #enso-sidebar-bottom-buttons,
    #enso-sidebar-top-buttons-customization-target {
        justify-content: center !important;
        gap: 0 !important;

        & > :not(panel,#enso-sidebar-top-buttons-separator) {
            overflow: hidden !important;
            padding: 0 !important;
            min-width: fit-content !important;
            min-height: fit-content !important;
            flex-grow: 1 !important;
            transition: flex-grow var(--theme-sidebar_expand_on_hover-transition_speed) linear, 
                width var(--theme-sidebar_expand_on_hover-transition_speed) linear, 
                margin-inline var(--theme-sidebar_expand_on_hover-transition_speed) linear !important;
            margin-inline: 2px !important;
        }

        toolbarspring {
            transition: flex-grow var(--theme-sidebar_expand_on_hover-transition_speed) cubic-bezier(.001,1,.003,0.99), 
                width var(--theme-sidebar_expand_on_hover-transition_speed) linear, 
                margin-inline var(--theme-sidebar_expand_on_hover-transition_speed) linear !important;;
            flex-grow: 100 !important;
            display: flex !important;
        }
    }

    #enso-workspaces-button {
        flex-direction: row !important;
        justify-content: center !important;
        gap: 0 !important;
        min-width: fit-content !important;
        transition: min-width var(--theme-sidebar_expand_on_hover-transition_speed) linear !important;

        toolbarbutton {
            margin: 0 !important;
            flex-grow: 1 !important;
            transition: flex-grow var(--theme-sidebar_expand_on_hover-transition_speed) linear, 
                width var(--theme-sidebar_expand_on_hover-transition_speed) linear, 
                margin-inline var(--theme-sidebar_expand_on_hover-transition_speed) linear !important;
            margin-inline: 2px !important;
            overflow: hidden !important;
        }
    }
    
    #tabbrowser-arrowscrollbox-periphery {
        margin-inline: 0 !important;
        
        /* Decrease the seperator line to the same length as before */
        &::before {
            margin-inline: var(--tab-block-margin);
        }
    }

    /* Expanded bar */
    #navigator-toolbox:is(
        [enso-has-hover],
        [movingtab],
        [flash-popup],
        [has-popup-menu],
        :has(.tabbrowser-tab:active),
        :has(toolbarbutton[open="true"]:not(#enso-sidepanel-button), #urlbar[open]),
    ) {
        --enso-sidebar-width: var(--theme-sidebar_expand_on_hover-expanded_width) !important;
        &::before {
            opacity: 1.0;
            transition: 60ms opacity ease-in, width ease-in-out var(--theme-sidebar_expand_on_hover-transition_speed);
        }
    }

    /* Collapsed bar */
    #navigator-toolbox:not(
        [enso-has-hover],
        [movingtab],
        [flash-popup],
        [has-popup-menu],
        :has(.tabbrowser-tab:active),
        :has(toolbarbutton[open="true"]:not(#enso-sidepanel-button), #urlbar[open])
    ) {

        /* Show only active/first/no(todo) button*/
        #enso-workspaces-button {
            toolbarbutton:not([active="true"]) {
                flex-grow: 0 !important;
                width: 0 !important;
                margin-inline: 0 !important;
            }
        }
        
        #enso-essentials-container:has([selected]) > .tabbrowser-tab:not([selected]),
        #enso-essentials-container:not(:has([selected])) > .tabbrowser-tab:not(:first-child) {
                flex-grow: 0 !important;
                width: 0 !important;
                min-width: 0 !important;
                margin-inline: 0 !important;
        }
        
        toolbarspring {
            flex-grow: 0 !important;
            width: 0 !important;
            min-width: 0 !important;
            margin-inline: 0 !important;
        }
        
        /*Workaround for invisible top buttons seperator*/
        #enso-sidebar-top-buttons-customization-target > :not(:nth-child(1 of toolbarbutton, toolbaritem))
        {
            flex-grow: 0 !important;
            width: 0 !important;
            min-width: 0 !important;
            margin-inline: 0 !important;
        }

        @media not (-moz-bool-pref: "theme.sidebar_expand_on_hover.collapse_buttons") {
            #enso-sidebar-bottom-buttons > :not(:first-child)
            {
                flex-grow: 0 !important;
                width: 0 !important;
                min-width: 0 !important;
                margin-inline: 0 !important;
            }
        }

        @media (-moz-bool-pref: "theme.sidebar_expand_on_hover.collapse_buttons") {
            /* Show first child only when no visible workspace switcher */
            #enso-sidebar-bottom-buttons:not(:has(#enso-workspaces-button:not([dont-show="true"]))) > :not(:first-child),
            /* Show active workspace only when visible workspace switcher */
            #enso-sidebar-bottom-buttons:has(#enso-workspaces-button:not([dont-show="true"])) > :not(#enso-workspaces-button) {
                flex-grow: 0 !important;
                width: 0 !important;
                min-width: 0 !important;
                margin-inline: 0 !important;
            }
        }
    }

    /* Support for tabs on the right */
    #navigator-toolbox[enso-right-side="true"] {
        direction: rtl !important;
    
        #titlebar, #enso-sidebar-top-buttons {
            direction: ltr !important;
        }

        #titlebar {
            padding-left: var(--enso-toolbox-padding) !important;
            padding-right: 0 !important;
        }
        
        @media (-moz-bool-pref: "enso.view.use-single-toolbar") {
            #nav-bar {
                direction: ltr !important;
            }
        }
    }
}