#tabbrowser-tabs {
  & .tabbrowser-tab {
    &[pinned]:not([enso-essential]):hover .tab-reset-button,
    &[pinned][visuallyselected]:not([enso-essential]) .tab-reset-button {
      display: none !important;
    }
  }
}
