scrollbox:nth-child(5) {
  scrollbar-width: thin !important;
}

@media (-moz-bool-pref: "enso.view.sidebar-expanded") {
  scrollbox:nth-child(5) {
    scrollbar-width: auto !important;
  }
}

#navigator-toolbox {
  -moz-window-dragging: no-drag; /* Disables window dragging */
}
