#tab-preview-panel {
	/* Matches Enso main background color, also supports gradients */
	@media (-moz-bool-pref: 'enso.mods.TabPreviewEnhanced.enabledBackgroundNative') {
		--panel-background: var(--enso-main-browser-background-toolbar) !important;
	}

	/* Matches Enso panel radius */
	@media not (-moz-bool-pref: 'enso.mods.TabPreviewEnhanced.enabledCustomBorderRadius') {
		border-radius: var(--panel-border-radius) !important;
	}

	/* Custom border radius for tab preview*/
	@media (-moz-bool-pref: 'enso.mods.TabPreviewEnhanced.enabledCustomBorderRadius') {
		--panel-border-radius: var(
			--enso-mods-TabPreviewEnhanced-borderRadiusAmount
		) !important;
	}

	/* Removes border around tab preview */
	--enso-appcontent-border: transparent !important;

	/* Shifts panel to the slightly right */
	/* TODO: Make customizable */
	margin-left: 0.5em !important;
}

.tab-preview-thumbnail-container {
	/* Fixes proper tab preview image sizing */
	&:has(canvas) {
		@media (-moz-bool-pref: 'enso.mods.TabPreviewEnhanced.enabledMargins') {
			/* Add padding around tab preview image */
			padding: var(--enso-element-separation);
		}

		/* Hide border above preview */
		border-top: none !important;

		/* Hides padding between tab preview image and tab preview title */
		padding-top: 0 !important;

		/* Shrink preview to match added padding */
		/* TODO: Make optional */
		width: calc(var(--panel-width) - (var(--enso-element-separation) * 2)) px !important;
		height: unset !important;

		/* Some safety code to maintain aspect ratio */
		aspect-ratio: 2 / 1 !important;
	}

	canvas {
		/* Matches Enso panel radius */
		@media not (-moz-bool-pref: 'enso.mods.TabPreviewEnhanced.enabledCustomBorderRadius') {
			border-radius: calc(var(--panel-border-radius) / 1.3) !important;
		}

		/* Custom border radius for tab preview image */
		@media (-moz-bool-pref: 'enso.mods.TabPreviewEnhanced.enabledCustomBorderRadius') {
			border-radius: calc(
				var(--enso-mods-TabPreviewEnhanced-borderRadiusAmount) / 1.3
			) !important;
		}
	}
}
