
#enso-toast-container {
  top: calc(var(--enso-element-separation) * 6) !important;
  
  :root:not([enso-right-side='true']) & {
    right: calc(var(--enso-element-separation) * 2) !important;
  }

  :root[enso-right-side='true'] & {
    left: calc(var(--enso-element-separation) * 2) !important;
  }

  & .enso-toast {
    padding: 6px !important;
    border-radius: 12px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    box-shadow: 0px !important ;
    background: rgba(255, 255, 255, var(--mod-ensotoast-background_opacity, 0.3)) !important;
    border: 1px solid rgba(0, 0, 0, var(--mod-ensotoast-border_opacity, 0.3)) !important;
    color: rgba(0, 0, 0, var(--mod-ensotoast-text_opacity, 0.3)) !important;
    
    & .description {
        font-size: 10px !important;
    }

    &:hover {
      background: var(--enso-primary-color) !important;
      color: var(--button-primary-color) !important;
      border: 1px solid rgba(0, 0, 0, 0.0) !important;
      transition: 0.3s !important;
    }
  }

}
